<ion-view view-title="Tarefas">
	<ion-nav-buttons side="right">
		<button ui-sref="app.criar-tarefa" class="button button-clear icon ion-plus">
			
		</button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item class="item-divider">
				Lista de Tarefas
			</ion-item>

			<ion-item class="item-icon-left" ng-repeat="tarefa in tarefas track by $index" ng-click="concluirTarefa(tarefa)">
				<i class="icon" ng-class="{'ion-ios-checkmark': tarefa.concluida, 'ion-ios-circle-outline': !tarefa.concluida}"></i>
				<h2> {{tarefa.nome }} </h2>
				<p> Prioridade: {{ tarefa.prioridade}}</p>
			</ion-item>
			<ion-item ng-if="!tarefas.length">
				Não há tarefas
			</ion-item>
		</ion-list>			
	</ion-content>
</ion-view>