<ion-view view-title="Tarefas">
	<ion-nav-buttons side="right">
		<button ui-sref="app.criar-tarefa" class="button button-clear icon ion-plus">
			
		</button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item class="item-divider">
				Filtros
			</ion-item>

			<label class="item item-input item-select">
				<div class="input-label">
					Ordenação
				</div>
				<select ng-model="filtros.ordenacao">
					<option>Nenhuma</option>
					<option>Prioridade</option>
					<option>A fazer</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Mostrar
				</div>
				<select ng-model="filtros.mostrar">
					<option>Todas</option>
					<option>A fazer</option>
					<option>Concluídas</option>
				</select>
			</label>
			<ion-item class="item-divider">
				Lista de Tarefas
			</ion-item>
			<ion-item class="item-icon-left" ng-repeat="tarefa in tarefas | tarefas:filtros track by $index" ng-click="concluirTarefa(tarefa)">
				<i class="icon" ng-class="{'ion-ios-checkmark': tarefa.concluida, 'ion-ios-circle-outline': !tarefa.concluida}"></i>
				<h2> {{tarefa.nome }} </h2>
				<p> Prioridade: {{ tarefa.prioridade}}</p>
			</ion-item>
			<ion-item ng-if="!(tarefas | tarefas:filtros).length">
				Não há tarefas
			</ion-item>
		</ion-list>			
	</ion-content>
</ion-view>